# ==============================
# Ambiente de teste - HelpDesk
# Projeto final - Docker Compose
# ==============================

APP_ENV=production

# MySQL
MYSQL_DATABASE=servicoti
MYSQL_USER=servicoti
MYSQL_PASSWORD=
MYSQL_ROOT_PASSWORD=

# Backend
API_PORT=8000

# Redis
REDIS_PORT=6379